h1{
  text-align: center;
  font-family: 'Amaranth', sans-serif;
  font-size: 15rem;
  color: grey;
}
 body{
  background-size: cover;
}
#continue{
  font-size: 5rem;
  color: black;
  float: right;
  margin-top: 250px;
font-family: 'Amaranth', sans-serif;
border-color: black;
border-radius: 8px;
cursor: pointer;
}
#content{
  font-family: 'Righteous', cursive;
  clear: left;
  text-align: center;
  border-width: 2px;
  border-style: solid;
  padding: .10em 2.75em;
  color:white;
  border-color: grey;
  border-radius: 20px;
  margin-top: 150px;
  height:350px;
  width: 400px;
  margin-left: 35%;
  background-color: rgba(0,0,0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}
#back{
  font-size: 2rem;
  color: black;
    margin-top: 600px;
  font-family: 'Amaranth', sans-serif;
  border-color: black;
  border-radius: 8px;
  cursor: pointer;

}
.help{
  font-family: 'Amaranth', sans-serif;
  font-size: 4rem;
  color: green;
}
h4{
  text-align: center;
  font-size: 7rem;
  font-family: 'Amaranth', sans-serif;
color: yellow;
}
.Help{
  font-family: 'Amaranth', sans-serif;
  font-size: 5rem;
color: gold;

}
#close{
  font-size: 2rem;
  color: black;
  border-color: black;
    margin-top: 100px;


}
h5{
  text-align: center;
  font-size: 7rem;
  font-family: 'Righteous', cursive;
  color: green;

}
.game{
  color:grey;
  font-size: 3rem;
  font-family: 'Righteous', cursive;
  height:150px;
  width: 400px;
}
#roll{
  font-size: 2rem;
  color: black;
  border-color: black;
}
